.about-us {
    background-color: var(--on-image-text-color);
    background-size: cover;
    background-position: center;
    padding: auto;
}

.about-us__image-container {
    padding: 40px 40px;
    max-width: 700px;
}

.about-us__content {
    text-align: left;
    padding: 0 15px;
}

.about-us__title {
    color: var(--accent-text-color);
    font-size: 11px;
    font-weight: 900;
    padding: 10px 15px;
    text-align: left;
}

.about-us__divider {
    padding: 15px 15px;
}

.about-us__subtitle {
    color: var(--color-text-header);
    font-family: var(--font-text-menu-h);
    font-size: 34px;
    font-weight: 400;
    padding: 0 15px;
    text-align: left;
}

.about-us__divider-inner {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--accent-text-color);
    margin: 0 auto;
}

.about-us__description-location {
    color: var(--color-text-subtitles);
    font-size: 19px;
    font-weight: 500;
    padding: 0 15px;
    line-height: 1.5;
}

.about-us__description-about__first-paragraph {
    color: var(--color-text-paragrapf);
    font-size: 17px;
    font-weight: 400;
    padding: 0 15px;
    line-height: 1.5;
}

.about-us__description-about__second-paragraph {
    color: var(--color-text-paragrapf);
    font-size: 17px;
    font-weight: 400;
    padding: 15px 15px;
    line-height: 1.5;
}

.about-us__read-more-button {
    display: inline-block;
    padding: 15px 40px;
    background-color: var(--accent-text-color);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    border-top-right-radius: 7px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: color 0.3s;
}


.about-us__read-more-button:hover {
     color: darker(var(--color-text-subtitles), 10%);
}

.about-us__link-container {
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0 15px 50px 15px;
}

@media (min-width: 768px) {
    .about-us {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        background-image: url(../img/about-us/background-aboutus-home.png);
    }

    .about-us__content {
        flex: 1;
        text-align: left;
        padding: 0 20px;
    }

    .about-us__subtitle {
        color: var(--color-text-header);
        font-family: var(--font-text-menu-h);
        font-size: 38px;
        font-weight: 400;
        padding: 10px 20px;
        text-align: left;
    }

    .about-us__description-about__first-paragraph {
        color: var(--color-text-paragrapf);
        font-size: 17px;
        font-weight: 400;
        padding: 15px 15px;
        line-height: 1.5;
    }

    .about-us__image-container {
        min-width: 325px;
        flex: 1;
    }
}

@media (min-width: 992px) {
    .about-us {
        display: flex;
        flex-direction: row;
        background-image: url(../img/about-us/background-aboutus-home.png);
        justify-content: center;
        align-items: flex-start;
    }

    .about-us__image-container {
        padding:0 65px;
        flex: 1;
        max-width: 550px;
        margin-left: 200px;
    }

    .about-us__subtitle {
        color: var(--color-text-header);
        font-family: var(--font-text-menu-h);
        font-size: 42px;
        font-weight: 400;
        padding: 10px 20px;
        text-align: left;
    }

    .about-us__content {
        flex: 1;
        text-align: left;
        padding: 0 30px;
        margin-right: 150px;
    }
}
