.features-section {
    background-color: var(--on-image-text-color);
    padding: 50px 0;
}

.features-section__benefits {
    padding: 0 15px;
}

.features-section__title {
    color: var(--accent-text-color);
    font-size: 11px;
    padding: 20px 0;
    font-weight: 900;
}

.features-section__subtitle {
    color: var(--color-text-header);
    font-family: var(--font-text-menu-h);
    font-size: 34px;
    padding-bottom: 20px;
    font-weight: 400;
}

.features-section__call-to-action {
    color: var(--color-text-subtitles);
    font-size: 19px;
    padding-bottom: 20px;
    font-weight: 500;
}

.features-section__benefits-block {
    padding: 0 20px;
}

.features-section__image-inner {
    width: 30%; 
    max-width: 250px; 
    transition: width 0.5s; 
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features-section__benefits-block {
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.features-section__subtitle-block {
    color: var(--color-text-header);
    font-size: 22px;
    font-family: var(--font-text-menu-h);
    padding: 20px 0;
    font-weight: 400;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    text-align: left;
}

.features-section__description {
    width: 15%;
    margin-left: 0;
}

.features-section__image-line {
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    margin: 10 0px ;
}

.features-section__text {
    color: var(--color-text-paragrapf);
    font-size: 17px;
    padding: 20px 0;
    font-weight: 400;
    text-align: left;
}

@media (max-width: 320px) {
    .features-section__image-inner {
        min-width: 70px;
    }
}

@media (min-width: 768px) {
    .features-section__benefits-block {
        max-width: calc(50% - 20px);
    }
}

@media (min-width: 992px) {
    .features-section__benefits-block {
       max-width: calc(33.33% - 20px);
    }
}









