.footer{
    background-color: var(--background-color);
}
.footer-additional-information{
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 50px 250px);
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 30px;
}
.footer-additional-information-item{

}
.footer-additional-information-img{
    width: 70px;
}
.footer-additional-information-header{
    font-family: var(--font-text-menu-h);
    justify-content: left;
    color: var(--color-text-header);
}
.footer-additional-information-title{
    font-family: var(--font-text-menu-h);
    justify-content: left;
    color: var(--color-text-subtitles);
}
.footer-main-information{
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(1, 2fr 1fr 1fr 1fr);
    padding-top: 100px;
    padding-bottom: 100px;
    grid-column-gap: 10px;
    
}
.footer-main-information-main-logo{
    width: 200px;
    justify-content: left;
}
.footer-main-information-comment{
    color: var(--color-text-subtitles);
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-main-information-tabs{
    font-family: var(--font-text-menu-p);
    color: var(--color-text-header);
    padding-top: 40px;
}
.footer-main-information-social{
    gap: 10px;
    font-family: var(--font-text-menu-h);
    color: var(--color-text-header);
}
.footer-navigation-item{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-header);
}
.footer-navigation-item-line{
    width: 100%;
    margin-left: 0;
}
.footer-navigation-image{
    width: 50%; 
    max-width: 250px; 
    transition: width 0.5s; 
}
.footer-navigation-item-section{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-subtitles);
    text-decoration: none;
}
.footer-address{

}
.footer-address-icon{
    width: 40px;
}
.footer-address-contact{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-subtitles);
}
.footer-text-caption-left-side{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-subtitles);
    text-align: left;
    display: list-item;
}
.footer-text-caption-right-side{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-subtitles);
    text-align: right;
    display: list-item;
}