.footer{
    background-color: var(--background-color);
    padding-left: 220px;
    padding-right: 220px;
}
.footer-additional-information{
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 50px 250px);
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 30px;
}
.footer-additional-information-img{
    width: 70px;
}
.footer-additional-information-header{
    font-family: var(--font-text-menu-h);
    justify-content: left;
    color: var(--color-text-header);
}
.footer-additional-information-title{
    font-family: var(--font-text-menu-h);
    justify-content: left;
    color: var(--color-text-subtitles);
}
.footer-main-information{
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(1, 2fr 1fr 1fr 1fr);
    padding-top: 100px;
    padding-bottom: 30px;
    grid-column-gap: 20px;   
}
.footer-main-information-main-logo{
    width: 160px;
    justify-content: left;
}
.footer-main-information-comment{
    color: var(--color-text-subtitles);
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-main-information-tabs{
    gap: 40px;
}
.footer-main-information-tabs-item{
    font-family: var(--font-text-menu-p);
    color: var(--color-text-header);
    padding-top: 40px;
    font-size: 12px;
    font-weight: 550;
    margin-right: 15px;
}
.footer-main-information-social{
   display: flex;
   padding-top: 30px;
   padding-bottom: 50px;
   max-width: 150px;
   gap: 20px;
}
.footer-main-information-social-item{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-header);  
}
.footer-navigation{
    margin-bottom: 50px;
}
.footer-navigation-item{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-header);
}
.footer-navigation-image{
    display: flex;
    width: 15%;
    height: 4px;
    background-color: var(--accent-text-color);
    margin: 10px 0px ; 
}
.footer-navigation-item-section{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-subtitles);
    text-decoration: none;
}
.footer-address{
    display: flex;
    flex-direction: column;
    align-items: left; 
    text-align: left;
}
.footer-address-block{
    display: flex;
}
.footer-address-icon{
    width: 20px;
    height: 20px;
}
.footer-address-contact{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-subtitles);
}
.footer-text-caption{
    font-family: var(--font-text-menu-h);
    color: var(--color-text-subtitles);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media (max-width: 760px){
    .footer-main-information{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        text-align: left;
    }
}