.footer{
background-color: var(--background-color);
}
.footer-additional-information{
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 50px 250px);
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 30px;
}
.footer-additional-information-item{

}
.footer-additional-information-img{
    width: 70px;
}
.footer-additional-information-header{
    font-family: vollkorn;
    justify-content: left;
    color: var(--color-text-header);
}
.footer-additional-information-title{
    font-family: vollkorn;
    justify-content: left;
    color: var(--color-text-subtitles);
}
.footer-main-information{

}
.footer-main-information-main-logo{
    width: 200px;
    justify-content: left;
}