.gallery-section {
    background-color: #4b566a;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.gallery-section-items {
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    display: flex;
    gap: 15px;
    align-items: center;
    object-fit: cover;
}
.gallery-button-prev {
    border-radius: 50%;
    width: 20px;
}
.gallery-button-next {
    border-radius: 50%;
    width: 20px;
}
