@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..1444&family=Vollkorn&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow-new-tastes:rgba(130, 134, 143,  0.25);
    --ui-brand-color: #ff5d28;
    --ui-dark-shade-color: #4b566a;
    --ui-dark-accent-color: #82868f;
    --accent-text-color: rgb(255, 93, 40);
    --color-text-header-top-line: rgb(166,58,24);
    --color-text-header: rgb(75, 86, 106);
    --color-text-subtitles: rgb(130, 134, 143);
    --color-text-paragrapf: rgb(155, 158, 164);
    --on-image-text-color: #fff;
    --background-color: #f7f6f2;
    --font-text-menu-h: 'Vollkorn', serif;
    --font-text-menu-p: 'Roboto Serif', serif;
    --w-title-offset: 62px;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
 
img {
    display:block;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}