.header {
    background-color: rgb(247, 246, 242);
}

.header__working-hours-social-media {
    display: none;
}

.header__navigation-wrapper {
    display: flex;
    flex-direction: column;
}

.header__navigation-pages-link {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-text-subtitles);
    font-weight: bold;
    padding: 5px;
}

.header__navigation-social, .header__navigation-working-hours {
    font-weight: bold;
    padding: 5px;
    font-size: 11px;
    color: rgb(166, 58, 24);
}

.header__navigation-social-link {
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    font-size: 11px;
    color: rgb(166, 58, 24);
}

.header__banner {
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(../images/header-background.png);
    min-height: 662px;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.header__subtitle {
    text-align: left;
    font-size: 11px;
    color: var(--orange-text-color);
    font-weight: bold;
}

.header__link-contacts {
    background-color: rgb(255, 93, 40);;
    padding: 14px 30px;
    text-align: center;
    border-radius: 10%;
    text-decoration: none;
    color: var(--on-image-text-color);
}

.header__link-to-call {
    font-size: 17px;
    text-decoration: none;
    color: rgb(75, 86, 106);
    font-weight: bold;
}

@media (min-width: 992px) {
    
    .header__working-hours-social-media{
        display: block;
        background-color: rgb(255, 93, 40);
    }
    
    
}