.header {
    background-color: var(--background-color);
}

.header__navigation-logo-container {
    padding: 10px 0 10px 15px;
}

.header__working-hours-social-media {
    display: none;
}

.header__navigation-wrapper {
    display: flex;
    flex-direction: column;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    
}

.header__navigation-pages {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.header__navigation-pages-link {
    font-size: 15px;
    text-decoration: none;
    color: var(--color-text-subtitles);
    font-weight: bold;
    padding: 5px;
}

.header__navigation-social, .header__navigation-working-hours {
    font-weight: bold;
    padding: 5px;
    font-size: 11px;
    color: rgb(166, 58, 24);
    gap: 20px;
}

.header__navigation-social-link {
    gap: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    font-size: 11px;
    color: rgb(166, 58, 24);
}

.header__banner {
    background-image: url(../images/header-background.png);
    min-height: 662px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.header__content { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    
}

.header__title {
    font-size: 54px;
    display: block;
    color: var(--color-text-header);
    font-family: var(--font-text-menu-h);
    font-weight: 100;
    text-shadow: 0.5px 0.5px;
}

.header__subtitle {
    font-size: 11px;
    color: var(--accent-text-color);
    font-weight: bold;
    margin: 10px 10px;
    padding: 70px 10px 20px 10px;
}

.header__link-contacts {
    background-color: var(--accent-text-color);
    margin-top: 10px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10%;
    text-decoration: none;
    color: var(--on-image-text-color);
    max-width: 110px;
    max-height: 40px;
    font-family: var(--font-text-menu-h);
    border-top-right-radius: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 25px;
}

.header__link-contacts:hover{
    color: var(--ui-dark-shade-color);
}

.header__link-to-call {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    text-decoration: none;
    color: rgb(75, 86, 106);
    font-weight: bold;
    margin: 10px 10px;
    padding: 10px 10px;
}

.header__link-to-call:hover{
    color: var(--accent-text-color);
}

.header__description {
    font-size: 17px;
    color: var(--ui-dark-shade-color);
    font-weight: 700;
    font-family: var(--font-text-menu-h);
}

@media (max-width: 992px) {

    .header__navigation-burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 8;
        padding: 15px 10px 0 0;
        margin-top: 20px;
    }
    
    .header__navigation-burger span {
        background-color: var(--color-text-subtitles);
        position: absolute;
        width: 100%;
        height: 2.5px;
        top: 17px;
        right: 10px;
        transition: all 0.9s ease 0s;
        
    }
    
    .header__navigation-burger::before,
    .header__navigation-burger::after {
        content: '';
        background-color: var(--color-text-subtitles);
        position: absolute;
        width: 100%;
        height: 2.5px;
        right: 10px;
        transition: all 0.9s ease 0s;
    }
    
    .header__navigation-burger::before {
        top: 10px;
    }
    
    .header__navigation-burger::after {
        bottom: 0px;
        top: 24px;
        right: 10px;
    }
    
    .header__navigation-burger.active span {
        transform: scale(0);
    }
    
    .header__navigation-burger.active::before {
        transform: rotate(45deg);
        top: 23px;
    }
    
    .header__navigation-burger.active::after {
        transform: rotate(-45deg);
        bottom: 20px;
    }
    
    .header__navigation-logo-container {
        z-index: 5;
    }
    
    .header__navigation {
        z-index: 6;
    }
    
    .menubox {  
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: all 1.5s ease 0s;
        background-color: var(--background-color);
    }
    
    .menubox.active {
        top: 0%;
        margin-top: 30px;
    }

}


@media (min-width: 992px) {
    .header__navigation-burger {
        display: none;
    }
    
    .header__working-hours-social-media {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(255, 93, 40);
        padding: 10px;
    }

    .header__working-hours-container, .header__social-media-top {
        display: flex;
        flex: row;
        justify-content: space-around;
        gap: 15px;
        margin: 0;
        padding: 0;
        color: var(--color-text-header-top-line);
        font-size: 11px;
        font-weight: bold;
    }

    .header__social-media {
        color: var(--color-text-header-top-line);
    }


    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .header__links {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .header__description {
        font-size: 16px;
        color: var(--color-text-header);
        font-weight: 700;
        font-family: var(--font-text-menu-h);
    }

    .header__navigation {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        align-items: center;
        flex-direction: row;
    }

    .header__navigation-pages {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .header__navigation-working-hours, .header__navigation-social {
        display: none;
    }
}
