/* Стилі CSS */

.main__menu {
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнювання по центру по горизонталі */
    text-align: center; /* Вирівнювання тексту по центру */
}

.container_main__menu-item {
    display: flex;
    flex-direction: ;
    text-align: left;
    align-items: flex-start;
    
    }

.main__menu-actions {
    margin-top: 20px; /* Відступи між елементами та діями меню */
}

.main__menu-action {
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px; /* Відступи між діями меню */
}


.main__menu-item-title {
    font-family: var(--font-text-menu-h);
    font-size: 24px;
    color: var(--color-text-header);
    text-decoration: solid;
    padding-right: 10px;
}
.main__menu-item-price {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: var(--accent-text-color);
    text-align: left;
    font-weight: bold;
    font-style: normal;
    vertical-align: baseline;
    white-space: pre-wrap;
    text-transform: none;
    overflow-wrap: break-word;
    letter-spacing: normal;
    line-height: 24.78px;
    }
}
.main__menu-item-description {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: var(--color-text-paragrapf);
    text-align: left;
    line-height: 20px;
}



.main__menu-image {
    max-width: 80%; 
    display: block;
    margin: 0 auto; 
}