/* Fatyliak Andrii*/
.booking__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 40px; 
    padding-bottom: 40px;
    margin-left: 50px;
  }
.booking__text {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: var(--accent-text-color);
    text-align: center;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    overflow-wrap: break-word;
    letter-spacing: 1.1px;
    line-height: 15.73px;
  }
.booking {
    background-image: url('../img/menu/cta-menu.jpg');
    background-size: cover;
    background-position: center center;
    min-height: 600px;
    background-attachment: fixed;
    padding-top: 70px;
    padding-bottom: 100px;
  }
.booking__header {
    font-family: var(--font-text-menu-h);
    font-size: 38px; 
    font-style: normal;
    font-weight: 400;
    color: var(--on-image-text-color);
    text-align: center;
    vertical-align: baseline;
    letter-spacing: normal;
    line-height: 63px; 
    overflow-wrap: break-word;
    padding-top: 30px; 
    padding-bottom: 15px; 
  }
.booking__description {
    color: rgba(255, 255, 255, 0.81);
    font-family: 'Roboto', sans-serif;
    font-size: 19px; 
    text-align: center;
    font-weight: 500;
    line-height: 22px; 
    overflow-wrap: break-word;
    padding-top: 30px; 
    padding-bottom: 50px; 
  }
.booking__button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-text-color);
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    height: 46.08px;
    width: 144px;
    text-decoration: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 7px;
    border-top-right-radius: 25px;
    transition: color 0.3s;
    border: 2px solid var(--accent-text-color);
    cursor: pointer;
  }
.booking__button:hover {
    background-color: orangered; /* Оранжевий фон при наведенні */
    color: var(--on-image-text-color); /* Білий колір тексту при наведенні */
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .booking__content {
        text-align: left;
        align-items: center;
        flex-direction: column;
        margin-left: 0px;
        flex-wrap: wrap;
    }
    .booking__text {
        font-size: 11px; 
    }
    .booking__header {
        font-size: 
    }
    .booking__description {
        font-size: 16px; 
    }
  }
    
