<section class="about-us"> 
    <div class="about-us__image-container">
        <img src="img/about-us/about-us-image.png" alt="People eat in a restaurant" class="about-us__image"> 
    </div>
    <div class="about-us__content"> 
        <p class="about-us__title">- ABOUT US -</p>
        <h2 class="about-us__subtitle">Passion for Food: Get to Know Our Restaurant</h2>
        <div class="about-us__divider">
            <span class="about-us__divider-inner" aria-hidden="true">
            </span>
        </div>
        <p class="about-us__description"><strong>El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago.</strong></p>
        <p class="about-us__description">Come to a perfect place for a delicious breakfast, perhaps for a cup of cappuccino to lift your mood after your hard working day.</p>
        <p class="about-us__description">For four decades, El Gambino restaurant has been serving the local community with the world's famous cuisines. Our diversified menu offers a wide selection of meals for any taste. Visit us to feel the warmth of our hospitality and to enjoy your favorite cuisine!</p>
        <div class="about-us__link-container">
            <a href="#" class="about-us__read-more-button">Read more</a>
        </div>
    </div>
</section>
