<section class="categories">
    <div>
        <p> - Categories - </span></p>
        <h2>Variety of Dishes to Meet Any Taste</h2>
        <p>We always have something special for you.</p>
    </div>
    <div>
        <ul>
            <li>
                <img src="img/gallery/main_courses.jpg" alt="Main_Courses">
                <a href="#">Main Courses →</a>
            </li>
            <li>
                <img src="img/gallery/lunch_and_dinner.jpg" alt="lunch_and_dinner">
                <a href="#">Lunch & Dinner →</a>
            </li>
            <li>
                <img src="img/gallery/chefs_specials.jpg" alt="chefs_specials">
                <a href="#">Chef's Specials →</a>
            </li>
    </ul>
    </div>
</section>
