<section class="categories">
    <div>
        <p> - Categories - </span></p>
        <h2>Variety of Dishes to Meet Any Taste</h2>
        <p>We always have something special for you.</p>
    </div>
    <div>
        <ul>
            <li>
                <a href="#">Main Courses →</a>
            </li>
            <li>
                <a href="#">Lunch & Dinner →</a>
            </li>
            <li>
                <a href="#">Chef's Specials →</a>
            </li>

    </ul>

    </div>

</section>
