<!--Fatyliak Andrii-->
<section class="categories">
    <div class="categories__content">
        <p class="categories__text"> - Categories - </p>
        <h2 class="categories__header">Variety of Dishes to Meet Any Taste</h2>
        <p class="categories__description">We always have something special for you.</p>
    </div>
    <div class="categories__list">
        <ul class="categories__items">
            <li class="categories__item">
                <img src="img/gallery/main_courses.jpg" alt="Main_Courses">
                <div class="text-container">
                    <div>
                        <a href="#" class="categories__link">Main Courses</a><span class="decoration_line">→</span>
                    </div>
                    <p class="description_item">We offer a wide selection of fish and meat dishes.</p>
                </div>
            </li>
            <li class="categories__item">
                <img src="img/gallery/lunch_and_dinner.jpg" alt="lunch_and_dinner">
                <div class="text-container">
                    <div>
                        <a href="#" class="categories__link">Lunch & Dinner</a><span class="decoration_line">→</span>
                    </div>
                    <p class="description_item">Fresh pasta, salads, toasts, and much more.</p>
                </div>
            </li>
            <li class="categories__item">
                <img src="img/gallery/chefs_specials.jpg" alt="chefs_specials">
                <div class="text-container">
                    <div>
                        <a href="#" class="categories__link">Chef's Specials</a><span class="decoration_line">→</span>
                    </div>
                    <p class="description_item">Try our chef's seasonal menu limited in time!</p>
                </div>
            </li>
        </ul>
    </div>
</section>
