<!--Fatyliak Andrii-->
<section class="reservation">
  <div class="reservation_container">
    <div class="reservation_content">
      <div class="reservation_description">
        <p class="reservation_heading">- BOOK A TABLE -</p>
        <h2 class="reservation_title">Reservation Conditions</h2>
        <p class="reservation_description">Please make sure you've made the reservation before your visit.</p>
        <p class="reservation_description_text">All of our restaurants are quite popular, so we cannot guarantee you a seat unless you reserve a table in advance. You
          can book a table by filling the form on the right or by contacting us in any convenient way. Below you will find some
          reservation rules we ask our guests to follow.</p>
      </div>
        <div class="reservation_detail">
          <div class="reservation_detail-icon"><img width="100" src="img/menu/bg_cancel.jpg" alt=""></div>
          <div class="reservation_detail-description">
            <h3 class="header_reservation_details">Booking Cancellation</h3>
            <p class="reservation_details_text">Cancellations must be made at least 24 hours in advance. Please call us to cancel your reservation.</p>
          </div>
          </div>
        <div class="reservation_detail">
          <div class="reservation_detail-icon"><img width="100" src="img/menu/bg_final.jpg" alt=""></div>
          <div class="reservation_detail-description">
            <h3 class="header_reservation_details">Booking Finalization</h3>
            <p class="reservation_details_text">All reservations must be finalized with the restaurant no later than 12 hours prior to the reservation date.</p>
          </div>
        </div>
        <div class="reservation_detail">
          <div class="reservation_detail-icon"><img width="100" src="img/menu/bg_spend.jpg" alt=""></div>
          <div class="reservation_detail-description">
            <h3 class="header_reservation_details">Minimum Spend</h3>
            <p class="reservation_details_text">There is no minimum spend required for a reservation. The exception is group bookings for 6+ people.</p>
          </div>
        </div>
      </div>
      <div class="reservation_form">
        <div class="reservation_form-content">
          <h2 class="reservation_form_title">Book a Table</h2>
          <form name="clients" action="#" method="get" class="reservation_booking-form">
            <div class="reservation_input">
              <input type="text" name="client_name" placeholder="Name*" id="client_name" required="true">
            </div>
            <div class="reservation_input">
              <input type="tel" name="phone_number" placeholder="Phone number*" id="phone_number" required="true">
            </div>
            <div class="reservation_input">
              <input type="email" name="email" placeholder="Email" id="email">
            </div>
            <div class="reservation__input">
              <div class="reservation_input">
                <select name="restaurant" placeholder="restaurant" id="restaurant">
                  <option value="" disabled selected>Restaurant</option>
                  <option value="NY">EI Gambino NY</option>
                  <option value="Boston">EI Gambino Boston</option>
                  <option value="Chicago">EI Gambino Chicago</option>
                </select>
              </div>
              <div class="reservation_input">
                <input type="datetime" name="datetime" placeholder="Date and time*" id="datetime" required="true">
              </div>
              <div class="reservation_input">
                <select name="number_persons" placeholder="number_persons" id="number_persons">
                  <option value="" disabled selected>Number of persons</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4+">4+</option>
                </select>
                <div>
                  <button class="reservation_submit" type="submit">Book a Table</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
    
  </section>
  