<section class="aboutus-description">
    <div>
        <p class="aboutus-description-headline">- DESCRIPTION -</p>
        <h2 class="aboutus-description-header">About Our Restaurant</h2>
        <img class="aboutus-description-pattern" src="img/news/pattern.png" alt="pattern">
        <h3 class="aboutus-description-paragraph">All the best dishes from the Mediterranean cuisine.</h3>
    </div>
    <div>
       <p>El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago. For four decades, El Gambino restaurant has been serving the local community with the world's famous cuisines. Our diversified menu has something special to meet any taste.</p>
   <li>
        <img src="../img/about-us/leaves.png" alt="leaves">
        <ul>Signature Mediterranean dishes;</ul>
        <img src="../img/about-us/leaves.png" alt="leaves">
        <ul>Many vegan and vegetarian options;</ul>
        <img src="../img/about-us/leaves.png" alt="leaves">
        <ul>High quality of products in all our restaurants.</ul>
   </li>
   <p>Our atmosphere is warm and inviting, perfect for any occasion, whether you're looking for a romantic dinner or a casual night out with friends. Come and experience the exquisite flavors of the Mediterranean with us!</p>
    </div>
</section>