<section class="aboutus-description">
    <div class="aboutus-description-photo-block">
        <img class="aboutus-description-main-foto" src="img/description/description.jpg" alt="different food">
    </div>
    <div class="aboutus-info-textblock">
        <div class="aboutus-description-main-information">
            <p class="aboutus-description-headline">- DESCRIPTION -</p>
            <h2 class="aboutus-description-header">About Our Restaurant</h2>
            <img class="aboutus-description-pattern" src="img/news/pattern.png" alt="pattern">
            <h3 class="aboutus-description-title">All the best dishes from the Mediterranean cuisine.</h3>
        </div>
        <div>
            <p class="aboutus-description-paragraph">El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago. For four decades, El Gambino restaurant has been serving the local community with the world's famous cuisines. Our diversified menu has something special to meet any taste.</p>
            <div class="aboutus-description-points">
                <div class="aboutus-description-points-item">
                    <img src="img/about-us/leaves.png" alt="leaves">
                    <p>Signature Mediterranean dishes;</p>
                </div>
                <div class="aboutus-description-points-item">
                    <img src="img/about-us/leaves.png" alt="leaves">
                    <p>Many vegan and vegetarian options;</p>
                </div>
                <div class="aboutus-description-points-item">
                    <img src="img/about-us/leaves.png" alt="leaves">
                    <p>High quality of products in all our restaurants.</p>
                </div>
            </div>
            <p class="aboutus-description-paragraph">Our atmosphere is warm and inviting, perfect for any occasion, whether you're looking for a romantic dinner or a casual night out with friends. Come and experience the exquisite flavors of the Mediterranean with us!</p>
        </div>
    </div>
</section>