<section class="menu-desserts">
  <div class="menu-desserts-header">
    <div class="menu-desserts-header-block">
        <p class="desserts-headline">- DESSERTS -</p>
        <h2 class="desserts-header">Desserts</h2>
        <img class="desserts-header-pattern" src="img/news/pattern.png" alt="pattern">
    </div>
    <div class="menu-desserts-header-block">
      <p class="desserts-paragraph">Do you want something sweet with a cup of tea or coffee? We offer a wide range of delicious desserts.</p>
    </div>
  </div>
  <div class="menu__desserts__items-container">
    <div class="menu__desserts__items-container-block">
      <div class="menu__desserts__item">
        <div class="dessert-item-title-row">
          <p class="menu__desserts__item-title">Pouding Chomeur</p><span class="dessert-item-separator"></span><span class="menu__desserts__item-price">$13</span>
        </div>
        <p class="menu__desserts__item-description">With maple syrup sauce, 200g.</p>
      </div>
      <div class="menu__desserts__item">
        <div class="dessert-item-title-row">
          <p class="menu__desserts__item-title">Cheesecake</p><span class="dessert-item-separator"></span><span class="menu__desserts__item-price">$15</span>
        </div>
        <p class="menu__desserts__item-description">Choose from fruity or liqueur-infused cheesecake, 250g</p>
      </div>
      <div class="menu__desserts__item">
        <div class="dessert-item-title-row">
          <p class="menu__desserts__item-title">Lemon Tart</p><span class="dessert-item-separator"></span><span class="menu__desserts__item-price">$8</span>
        </div>
        <p class="menu__desserts__item-description">Perfect as a dessert or as a snack with a cup of coffee, 120g.</p>
      </div>
    </div>
    <div class="menu__desserts__items-container-block">
      <div class="menu__desserts__item">
        <div class="dessert-item-title-row">
          <p class="menu__desserts__item-title">Apple Crumble Pie</p><span class="dessert-item-separator"></span><span class="menu__desserts__item-price">$8</span>
        </div>
        <p class="menu__desserts__item-description">Ideal dessert for any occasion, 200g.</p>
      </div>
      <div class="menu__desserts__item">
        <div class="dessert-item-title-row">
          <p class="menu__desserts__item-title">Chocolate Tart</p><span class="dessert-item-separator"></span><span class="menu__desserts__item-price">$15</span>
        </div>
        <p class="menu__desserts__item-description">Served with white chocolate sauce and raspberries, 250g.</p>
      </div>
      <div class="menu__desserts__item">
        <div class="dessert-item-title-row">
          <p class="menu__desserts__item-title">Creme Brulee</p><span class="dessert-item-separator"></span><span class="menu__desserts__item-price">$15</span>
        </div>
        <p class="menu__desserts__item-description">A delicate dessert with a crunchy caramel topping, 180g.</p>
      </div>
    </div>
  </div>
</section>