<section class="menu-desserts">
    <div>
        <p class="desserts-headline">- DESSERTS -</p>
        <h2 class="desserts-header">Desserts</h2>
        <p class="desserts-paragraph">Do you want something sweet with a cup of tea or coffee? We offer a wide range of delicious desserts.</p>
        <img class="desserts-header-pattern" src="img/news/pattern.png" alt="pattern">
    </div>
    <div class="menu__desserts__items-container">
      <div class="menu__desserts__item">
        <p class="menu__desserts__item-title">Pouding Chomeur</p>
        <p class="menu__desserts__item-price">$13</p>
        <p class="menu__desserts__item-description">With maple syrup sauce, 200g.</p>
      </div>
      <div class="menu__desserts__item">
        <p class="menu__desserts__item-title">Cheesecake</p>
        <p class="menu__desserts__item-price">$15</p>
        <p class="menu__desserts__item-description">Choose from fruity or liqueur-infused cheesecake, 250g</p>
      </div>
      <div class="menu__desserts__item">
        <p class="menu__desserts__item-title">Lemon Tart</p>
        <p class="menu__desserts__item-price">$8</p>
        <p class="menu__desserts__item-description">Perfect as a dessert or as a snack with a cup of coffee, 120g.</p>
      </div>
      <div class="menu__desserts__item">
        <p class="menu__desserts__item-title">Apple Crumble Pie</p>
        <p class="menu__desserts__item-price">$8</p>
        <p class="menu__desserts__item-description">Ideal dessert for any occasion, 200g.</p>
      </div>
      <div class="menu__desserts__item">
        <p class="menu__desserts__item-title">Chocolate Tart</p>
        <p class="menu__desserts__item-price">$15</p>
        <p class="menu__desserts__item-description">Served with white chocolate sauce and raspberries, 250g.</p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Creme Brulee</p>
        <p class="menu__lunch__item-price">$15</p>
        <p class="menu__lunch__item-description">A delicate dessert with a crunchy caramel topping, 180g.</p>
      </div>
</section>