<!--<h1>Yaroslav Spivak</h1> -->
<section class="features-section container"> 
    <div class="features-section__benefits"> 
        <p class="features-section__title">- WHAT TO EXPECT -</p> 
        <h2 class="features-section__subtitle">The Benefits of Dining with Us</h2> 
        <div class="features-section__image-divider"> 
            <span class="features-section__image-inner" aria-hidden="true"> 
            </span>
        </div>
        <h4 class="features-section__call-to-action">Looking for a great place to have dinner? Book a table at El Gambino!</h4> 
    </div>
    <div class="flex-container">
        <div class="features-section__benefits-block"> 
            <div class="features-section__image"> 
                <img src="img/features/quality-of-food.png" alt="Shrimps with lemon" class="features-section__image-inner"> 
            </div>
            <h4 class="features-section__subtitle-block">Exceptional Quality of Food</h4> 
            <div class="features-section__description"> 
                <span class="features-section__image-line" aria-hidden="true"> 
                </span>
            </div>
            <p class="features-section__text">We take pride in offering our guests the highest quality of ingredients sourced from local farms and markets.</p>
        </div>

        <div class="features-section__benefits-block"> 
            <div class="features-section__image"> 
                <img src="img/features/varied-menu-selection.png" alt="Restaurant menu" class="features-section__image-inner">
            </div>
            <h4 class="features-section__subtitle-block">Varied Menu Selection</h4>
            <div class="features-section__description">
                <span class="features-section__image-line" aria-hidden="true">
                </span>
            </div>
            <p class="features-section__text">Our menu features a wide selection of dishes to suit every taste and preference. We have something for everyone.</p>
        </div>

        <div class="features-section__benefits-block"> 
            <div class="features-section__image"> 
                <img src="img/features/impeccable-service.png" alt="Cocktail with ice, mint and strawberries" class="features-section__image-inner">
            </div>
            <h4 class="features-section__subtitle-block">Impeccable Service</h4> 
            <div class="features-section__description"> 
                <span class="features-section__image-line" aria-hidden="true">
                </span>
            </div>
            <p class="features-section__text">Our staff is trained to provide attentive and personalized service to each and every guest, ensuring a memorable dining experience.</p>
        </div>
    </div>
</section>
