<header class="header">
    <nav class="header__nav container">
        <div class="header__logo-container">
            <img class="header__logo" src="images/restaurant-logo.svg" alt="Restaurant Logo" width="153px">
        </div>
        <div class="header__menu menu">
            <a class="menu__item" href="menu.html">Menu</a> 
            <a class="menu__item" href="about.html">About Us</a>
            <a class="menu__item" href="#">Offers & Discounts</a>
            <a class="menu__item" href="#">Space</a>
            <a class="menu__item" href="contact.html">Contacts</a>
            <p class="menu__working-hours">WORKING HOURS:  MON-SUN 12 PM - 01 AM</p>
            <p class="menu__social-media-item">SOCIAL:</p>
            <a href="#" class="menu__social-media-item">INSTAGRAM</a>
            <a href="#" class="menu__social-media-item">FACEBOOK</a>
            <a href="#" class="menu__social-media-item">YOUTUBE</a>
            <a href="#" class="menu__social-media-item">TWITTER</a>
        </div>
    </nav>
   <div class="header__banner">
        <p class="header__subtitle">- WELCOME TO OUR RESTAURANTS -</p>
        <h1 class="header__title">Gourmet Cuisine From Fresh Local Ingredients</h1>
        <p class="header__description">Enjoy your favorite dishes in our restaurants!</p>
        <div>
            <a href="#" class="header__link-contacts">Book a Table</a>
            <a href="#" class="header__link-to-call">+1 (234) 567 89 00</a>
        </div>
   </div>
</header>