<section class="home-catering" id="catering">
    <div class="home-catering-photo-block">
        <img class="home-catering-main-foto" src="img/catering/catering.jpg" alt="catering process">
    </div>
    <div class="home-catering-info-textblock">
        <div class="home-catering-main-information">
            <p class="home-catering-headline">- CATERING -</p>
            <h2 class="home-catering-header">We Cater Any Events</h2>
            <img class="home-catering-pattern" src="img/catering/pattern.png" alt="pattern">
            <h3 class="home-catering-title">Celebrate with us your special events or private parties and surprise your guests with our seasonal culinary delights.</h3>
        </div>
        <div>
            <p class="home-catering-paragraph">El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago. For four decades, El Gambino restaurant has been serving the local community with the world's famous cuisines. Our diversified menu has something special to meet any taste.</p>
            <div class="home-catering-points">
                <div class="home-catering-points-item">
                    <img class="home-catering-points-image" src="img/catering/cake.jpg" alt="cake">
                    <div class="home-catering-points-text">
                        <h3>Birthdays</h3>
                        <span class="home-catering-points-text-paragraph"><p>Celebrate your birthday party with the best dishes and enjoy the panoramic views from El Gambino NY.</p></span>
                    </div>
                </div>
                <div class="home-catering-points-item">
                    <img class="home-catering-points-image" src="img/catering/dining-room.jpg" alt="dining room">
                    <div class="home-catering-points-text">
                        <h3>Private Dining Room</h3>
                        <span class="home-catering-points-text-paragraph"><p>Our newly appointed Private Dining Room at El Gambino Boston seats up to ten guests. Perfect for your events!</p></span>
                    </div>
                </div>
                <div class="home-catering-points-item">
                    <img class="home-catering-points-image" src="img/catering/parties.jpg" alt="parties">
                    <div class="home-catering-points-text">
                        <h3>Corporate Parties</h3>
                        <span class="home-catering-points-text-paragraph"><p>El Gambino Chicago also offers the most spacious event space for large-sized corporate events (20+ people).</p></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>