<section>
    <div class="main__menu">
        <div class="main__menu-item">
            <img class="main__menu-image" width="" src="/img/menu/menu-dishes.jpg" alt="">
        </div>
        <div class="main__menu-item">
            <div>
                <p class="main__menu-item-title">Duck Confit Poutine</p><span class="main__menu-item-separator"></span><span class="main__menu-item-price">$24</span>
                <p class="main__menu-item-description">Pickled red cabbage, green peas, caramelized onions, duck confit.</p>
            </div>
            <div>
                <p class="main__menu-item-title">Warm Goat Cheese Salad</p><span class="main__menu-item-separator"></span><span class="main__menu-item-price">$16</span>
                <p class="main__menu-item-description">Mixed greens, sunflower seeds, dried cranberries, pan-fried cheese.</p>
            </div>
            <div>
                <p class="main__menu-item-title">Beef Tartare</p><span class="main__menu-item-separator"></span><span class="main__menu-item-price">$25</span>
                <p class="main__menu-item-description">Beef filet, fermented cabbage, grilled romaine heart, cashew purée.</p>
            </div>
        </div>
        <div>
            <div>
                <p class="main__menu-item-title">Creamy Mac and Cheese</p><span class="main__menu-item-separator"></span><span class="main__menu-item-price">$20</span>
                <p class="main__menu-item-description">Homemade pasta and freshly made and warmed up creamy cheese sauce.</p>
            </div>
            <div>
                <p class="main__menu-item-title">Homemade pasta and freshly made and warmed up creamy cheese sauce.</p><span></span><span class="main__menu-item-price">$35</span>
                <p class="main__menu-item-description">Roasted vegetables, celeriac purée, sunflower seeds, black olive crumble.</p>
            </div>
            <div>
                <p class="main__menu-item-title">Chicken A La King</p><span class="main__menu-item-separator"></span><span class="main__menu-item-price">$25</span>
                <p class="main__menu-item-description">Creamy white sauce with poached chicken pieces, mushrooms, garlic.</p>
            </div>                    
        </div>
        <div class="main__menu-actions">
            <a href="#" class="main__menu-action">Download PDF</a>
            <a href="#" class="main__menu-action">Open Full Menu</a>
        </div>
    </div>
</section>