<footer class="footer">
    <section class="footer-additional-information">
        <div class="footer-additional-information-item">
            <img class="footer-additional-information-img" src="img/footer/delivery.svg" alt="delivery">
        </div>
        <div>
            <h2 class="footer-additional-information-header">Delivery</h2>
            <p class="footer-additional-information-title">Order door-to-door food delivery service and enjoy your favorite food in the convenience of your home.</p>
        </div>
        <div class="footer-additional-information-item">
            <img class="footer-additional-information-img" src="img/footer/free-parking-lot.svg" alt="free-parking-lot">
        </div>
        <div>
            <h2 class="footer-additional-information-header">Free Parking Lot</h2>
            <p class="footer-additional-information-title">We are happy to offer free and safeguarded parking lot to both new and regular clients.</p>
        </div>
        <div class="footer-additional-information-item">
            <img class="footer-additional-information-img" src="img/footer/table-reservation.svg" alt="table-reservation">
        </div>
        <div>
            <h2 class="footer-additional-information-header">Table Reservation</h2>
            <p class="footer-additional-information-title">Our restaurant is quite popular, so we recommend you to call us in advance if you want to book a table.</p>
        </div>
    </section>
    <hr>
    <section class="footer-main-information">
        <div>
            <img class="footer-main-information-main-logo" src="img/footer/main-logo.svg" alt="main logo">
            <p class="footer-main-information-comment">El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago.</p>
            <a class="footer-main-information-tabs" href="#">CHEF'S SPECIALS</a>
            <a class="footer-main-information-tabs" href="#">LUNCH</a>
            <a class="footer-main-information-tabs" href="#">DRINKS</a>
            <a class="footer-main-information-tabs" href="#">RESERVE A TABLE</a>
            <a class="footer-main-information-social" href="https://twitter.com/"><img src="img/footer/twitter-icon.png" alt="twitter-icon"></a>
            <a class="footer-main-information-social" href="https://youtube.com/"><img src="img/footer/youtube-icon.png" alt="youtube-icon"></a>
            <a class="footer-main-information-social" href="https://facebook.com/"><img src="img/footer/facebook-icon.png" alt="facebook-icon"></a>
            <a class="footer-main-information-social" href="https://instagram.com/"><img src="img/footer/instagram-icon.png" alt="instagram-icon"></a>
        </div>
        <div class="footer-navigation" >
            <h2 class="footer-navigation-item">Navigation</h2>
            <div class="footer-navigation-item-line"> 
                <span class="footer-navigation-image" aria-hidden="true"> 
                </span>
            </div>
            <div class="footer-navigation-item-section">
                <a  href="#">Menu</a> <br>
                <a  href="#">About us</a> <br>
                <a  href="#">Offers & Discounts</a><br>
                <a  href="#">Space</a>
            </div>
        </div>
        <div class="footer-navigation">
            <h2 class="footer-navigation-item">Links</h2>
            <div class="footer-navigation-item-line"> 
                <span class="footer-navigation-image" aria-hidden="true"> 
                </span>
            </div>
            <div class="footer-navigation-item-section">
                <a  href="#">Gift cards</a> <br>
                <a  href="#">Team</a> <br>
                <a  href="#">Catering</a> <br>
                <a  href="#">Contacts</a>
            </div>
        </div>
        <div class="footer-navigation">
            <h2 class="footer-navigation-item">Contact Us</h4>
                <div class="footer-navigation-item-line"> 
                    <span class="footer-navigation-image" aria-hidden="true"> 
                    </span>
                </div>
            <address class="footer-address">
                <img class="footer-address-icon" src="img/footer/phone-icon.png" alt="phone-icon">
                <p class="footer-address-contact">+1 (234) 567 89 00</p>
                <img class="footer-address-icon" src="img/footer/letter-icon.png" alt="letter-icon">
                <p class="footer-address-contact">el.gambino@email.com</p>
                <img class="footer-address-icon" src="img/footer/clock-icon.png" alt="clock-icon">
                <p class="footer-address-contact">Working Hours: <br> Mon-Sun 12 pm - 01 am</p>
            </address>
        </div>
    </section>
   <hr>
    <section>
        <h2 class="footer-text-caption-left-side">© Created by</h2>
        <h3 class="footer-text-caption-right-side">All rights Reserved</h3>
    </section>
</section>
</footer>