<section>
    <div>
        <p class="home-news-headline">- News -</p>
        <h2 class="home-news-header">Our News & Articles</h2>
        <img class="home-news-header-pattern" src="img/news/pattern.png" alt="pattern">
        <p class="home-news-paragraph">Read more about Italian cuisine.</p>
    </div>
    <div class="home-news-categories-container">
        <div class="home-news-categories">
            <article class="home-news-categories-text-on-image">
                <div class="home-news-categories-text-with-bg">
                    <h2 class="home-news-categories-title">Wine Pairing: What Is It?</h2>
                    <p class="home-news-categories-title-description">Wine pairing is the process of matching food and wines based on their flavor...</p>
                    <a class="home-news-categories-nav" href="#">READ MORE</a>
                </div>
            </article>
            <article class="home-news-categories-subsection">
                <img class="home-news-categories-subsection-image" src="img/news/mussel.jpg" alt="mussel">
                <div>
                    <h2 class="home-news-categories-subsection-title">The Best Mediterranean Mussel Recipes by El Gambino</h2>
                    <p class="home-news-categories-subsection-description">Mussels are popular because they are hearty, flavorful, and full of nutrients. Mussels are a great source of protein, vitamins and minerals.</p>
                    <button class="home-news-form-button">Read More</button>
                </div>
            </article>
            <article class="home-news-categories-subsection">
                <img class="home-news-categories-subsection-image" src="img/news/juicy-steaks.jpg" alt="juicy-steaks">
                <div>
                    <h2 class="home-news-categories-subsection-title">What Types of Meat Do We Use for Juicy Steaks?</h2>
                    <p class="home-news-categories-subsection-description">The best types of meat for juicy steaks are ribeye, strip, tenderloin, and filet mignon. Ribeye steaks are known for their excellent marbling.</p>
                    <button class="home-news-form-button">Read More</button>
                </div>
            </article>
        </div>
    </div>
</section>