<section class = "home-news">
    <h2 class="home-news-header">- News -</h2>
    <p class="home-news-header3">Our News & Articles</p>
    <div class="about-us__divider">
        <span class="about-us__divider-inner" aria-hidden="true">
        </span>
    </div>
    <p class="home-news-paragraph">Read more about Italian cuisine.</p>
</section>
<section class="home-news-categories">
    <div class="home-news-categories-text-on-image" style="background: url('img/news/glasses.jpg'); width: 300px;">
        <!-- <img src="img/news/glasses.jpg" alt="glasses"> -->
        <div> <br>
            <h2 class="home-news-categories-title">Wine Pairing: What Is It?</h2>
            <p class="home-news-categories-title-description">Wine pairing is the process of matching food and wines based on their flavor...</p>
            <a class="home-news-categories-nav" href="#">READ MORE</a>
        </div>
    </div><br>
    <div class="home-news-categories-blocks" style = "width: 300px">
        <img src="img/news/mussel.jpg" width=300 alt="mussel">
        <h2 class="home-news-categories-title">The Best Mediterranean Mussel Recipes by El Gambino</h2>
        <p class="home-news-categories-title-description">Mussels are popular because they are hearty, flavorful, and full of nutrients. Mussels are a great source of protein, vitamins and minerals.</p>
        <button class="home-news-form-button">Read More</button>
    </div>
    <div class="home-news-categories-blocks" style ="width: 300px">
        <img src="img/news/juicy-steaks.jpg" width =300 alt="juicy-steaks">
        <h2 class="home-news-categories-title">What Types of Meat Do We Use for Juicy Steaks?</h2>
        <p class="home-news-categories-title-description">The best types of meat for juicy steaks are ribeye, strip, tenderloin, and filet mignon. Ribeye steaks are known for their excellent marbling.</p>
        <button class="home-news-form-button">Read More</button>
    </div>
</section>