<section class="gallery-section"> 
    <div class="gallery-section-images">
        <img src="img/gallery/beef.jpg" alt="/beef">
        <img src="img/gallery/cooking-process.jpg" alt="cooking-process">
        <img src="img/gallery/dessert.jpg" alt="dessert">
        <img src="img/gallery/cooking-time.jpg" alt="cooking-time">
        <img src="img/gallery/friendly-lunch.jpg" alt="friendly-lunch">
        <img src="img/gallery/fruit-salad.jpg" alt="fruit-salad">
        <img src="img/gallery/serving.jpg" alt="serving">
        <img src="img/gallery/soup.jpg" alt="soup">
    </div>
</section>
