<!--Fatyliak Andrii-->
<section class="menu">
    <div class="menu__container">
        <div class="menu__image">
            <img width="764" src="img/menu/menu-dishes.jpg" alt="menu-dishes">
            <img src="" alt="">
        </div>
        <div class="menu__category">
            <ul class="menu__list">
                <li class="menu__item">
                    <span class="menu__item-name">Duck Confit Poutine</span><span class="menu__item-price">$24</span>
                    <p class="menu__item-description">Pickled red cabbage, green peas, caramelized onions, duck confit.</p>
                </li>
                <br>
                <li class="menu__item">
                    <span class="menu__item-name">Warm Goat Cheese Salad</span><span class="menu__item-price">$16</span>
                    <p class="menu__item-description">Mixed greens, sunflower seeds, dried cranberries, pan-fried cheese.</p>
                </li>
                <br>
                <li class="menu__item">
                    <span class="menu__item-name">Beef Tartare</span><span class="menu__item-price">$25</span>
                    <p class="menu__item-description">Beef filet, fermented cabbage, grilled romaine heart, cashew purée.</p>
                </li>
            </ul>
        </div>
        <div class="menu__category">
            <ul class="menu__list">
                <li class="menu__item">
                    <span class="menu__item-name">Creamy Mac and Cheese</span><span class="menu__item-price">$20</span>
                    <p class="menu__item-description">Homemade pasta and freshly made and warmed up creamy cheese sauce.</p>
                </li>
                <br>
                <li class="menu__item">
                    <span class="menu__item-name">Grilled Vegetables Salad</span><span class="menu__item-price">$35</span>
                    <p>Roasted vegetables, celeriac purée, sunflower seeds, black olive crumble.</p>
                </li>
                <br>
                <li class="menu__item">
                    <span class="menu__item-name">Chicken A La King</span><span class="menu__item-price">$25</span>
                    <p class="menu__item-description">Creamy white sauce with poached chicken pieces, mushrooms, garlic.</p>
                </li>
            </ul>
        </div>
        <div class="menu__buttons">
            <a href="#" class="menu__button">Download PDF</a>
            <a href="#" class="menu__button">Open Full Menu</a>
        </div>
    </div>
</section>
