<h1>Ihor Yakibchuk </h1>
<div class="newTastes">
    <div class="newTastes_backround">
        <style>
            .newTastes_backround{
                background-image: url('images/backround-new-tastes.svg');
            }
        </style>
        <p class="NewPasta">- NEW PASTA -</p>
        <div class="title">
            Italian Days in El Gambino
        </div>
        <img src="" alt="">
        <div class="subtitle">
            Your favorite Italian recipes now in our restaurants!
        </div>
        <div class="blocks">
            <div class="block">
                <img src="images/new-tastes.jpeg" alt="new-tastes1">
                <div class="pasta">PASTA
                    <div class="namePasta">Pasta "San Miguel"</div>
                    <div class="ingredients">320g | Fettuccine, pine nuts, chicken, pesto sauce.</div>
                    <div class="origin">Italian pasta with organic pesto and chicken according to our own recipe.</div>
                </div>
            </div>
            <div class="block">
                <img src="images/new-tastes2.jpeg" alt="new-tastes2">
                <div class="pasta">PASTA
                    <div class="namePasta">Pasta "Pomodoro"</div>
                    <div class="ingredients">370g | Spaghetti, cherry tomatoes, basil, parmesan cheese.</div>
                    <div class="origin">Spring pasta with vegetables from our chef. Suitable for vegetarians and vegans.</div>
                </div>
            </div>
            <div class="block">
                <img src="images/new-tastes3.jpeg" alt="new-tastes3">
                <div class="salad">SALADS
                    <div class="nameSalad">Salad "Monguel"</div>
                    <div class="ingredients">220g | Grilled tomatoes, spinach, basil, olive oil, soy sauce.</div>
                    <div class="origin">Refreshing salad of three types of tomatoes with herbs and soy sauce.</div>
                </div>
            </div>
            <div class="block">
                <img src="images/new-tastes4.jpeg" alt="new-tastes4">
                <div class="mainCourses">MAIN COURSES
                    <div class="nameMain">Veal Steak</div>
                    <div class="ingredients">320g | Veal Steak, baked potatoes, red wine sauce.</div>
                    <div class="origin">Juicy veal steak with baked potatoes, paprika, and herbs. The red wine sauce is great!</div>
                </div>
            </div>
        </div>
        <div class="newTastes_footer">
            Make the First Step to Your <nav class="firstStep">Culinary Journey</nav>  Right Now!
            <p class="ph_number">Call us now <nav class="number">+1 (234) 567 89 00</nav> </p>
        </div>
    </div>    
</div>