<div class="newTastes">
    <div class="newTastes__background">
        <style>
            .newTastes__background {
                background-image: url('images/backround-new-tastes.svg');
            }
        </style>
        <p class="newTastes__intro">- NEW PASTA -</p>
        <div class="newTastes__title">
            Italian Days in El Gambino
        </div>
        <img src="" alt="" class="newTastes__image">
        <div class="newTastes__subtitle">

            <img src="#" alt="#">
            <div class="subtitle">
                Your favorite Italian recipes now in our restaurants!
            </div>
            <div class="newTastes__blocks">
                <div class="newTastes__block">
                    <img src="images/new-tastes.jpeg" alt="PASTA" class="newTastes__block-image">
                    <div class="newTastes__dish">PASTA
                        <div class="newTastes__dish-name">Pasta "San Miguel"</div>
                        <div class="newTastes__dish-ingredients">320g | Fettuccine, pine nuts, chicken, pesto sauce.
                        </div>
                        <div class="newTastes__dish-origin">Italian pasta with organic pesto and chicken according to
                            our own recipe.</div>
                    </div>
                </div>
                <div class="newTastes__block">
                    <img src="images/new-tastes2.jpeg" alt="PASTA2" class="newTastes__block-image">
                    <div class="newTastes__dish">PASTA
                        <div class="newTastes__dish-name">Pasta "Pomodoro"</div>
                        <div class="newTastes__dish-ingredients">370g | Spaghetti, cherry tomatoes, basil, parmesan
                            cheese.</div>
                        <div class="newTastes__dish-origin">Spring pasta with vegetables from our chef. Suitable for
                            vegetarians and vegans.</div>
                    </div>
                </div>
                <div class="newTastes__block">
                    <img src="images/new-tastes3.jpeg" alt="SALADS" class="newTastes__block-image">
                    <div class="newTastes__dish">SALADS
                        <div class="newTastes__dish-name">Salad "Monguel"</div>
                        <div class="newTastes__dish-ingredients">220g | Grilled tomatoes, spinach, basil, olive oil, soy
                            sauce.</div>
                        <div class="newTastes__dish-origin">Refreshing salad of three types of tomatoes with herbs and
                            soy sauce.</div>
                    </div>
                </div>
                <div class="newTastes__block">
                    <img src="images/new-tastes4.jpeg" alt="MAIN COURSES" class="newTastes__block-image">
                    <div class="newTastes__dish">MAIN COURSES
                        <div class="newTastes__dish-name">Veal Steak</div>
                        <div class="newTastes__dish-ingredients">320g | Veal Steak, baked potatoes, red wine sauce.
                        </div>
                        <div class="newTastes__dish-origin">Juicy veal steak with baked potatoes, paprika, and herbs.
                            The red wine sauce is great!</div>
                    </div>
                </div>
            </div>
            <div class="newTastes__footer">
                Make the First Step to Your <nav class="newTastes__firstStep">Culinary Journey</nav> Right Now!
                <p class="newTastes__ph_number">Call us now
                <nav class="newTastes__number">+1 (234) 567 89 00</nav>
                </p>
            </div>
        </div>
    </div>