<section class="menu__specials-lunch">
  <article class="menu__lunch">
    <div class="menu__lunch__header">
      <div class="menu__lunch__header__title">
        <p class="menu__lunch__header__title__category">- SPECIALS -</p>
        <p class="menu__lunch__header__title__main">Chef's Specials</p>
      </div>
      <div class="menu__lunch__header__description">
        <p>
          Don't miss the chance to try our chef's seasonal menu limited in time!
          The items on this menu may vary depending on the selected restaurant.
        </p>
      </div>
    </div>
    <div class="menu__lunch__items-container">
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Shrimp Tempura</p>
        <p class="menu__lunch__item-price">$15</p>
        <p class="menu__lunch__item-description">
          The excellent all-time Japanese appetizer, 125g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Salad "Sicilia"</p>
        <p class="menu__lunch__item-price">$31</p>
        <p class="menu__lunch__item-description">
          Bright and tasty salad which you can pair with any dish, 160g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Pasta "San Miguel"</p>
        <p class="menu__lunch__item-price">$23</p>
        <p class="menu__lunch__item-description">
          Italian pasta with organic pesto and chicken, 320g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Tiramisu</p>
        <p class="menu__lunch__item-price">$18</p>
        <p class="menu__lunch__item-description">
          The perfect and the most popular Italian dessert, 160g.
        </p>
      </div>
    </div>
  </article>
  <article class="menu__lunch">
    <div class="menu__lunch__header">
      <div class="menu__lunch__header__title">
        <p class="menu__lunch__header__title__category">- LUNCH -</p>
        <p class="menu__lunch__header__title__main">Lunch & Dinner</p>
      </div>
      <div class="menu__lunch__header__description">
        <p>
          Don't miss the chance to try our chef's seasonal menu limited in time!
          The items on this menu may vary depending on the selected restaurant.
        </p>
      </div>
    </div>
    <div class="menu__lunch__items-container">
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Chicken Pot Pie</p>
        <p class="menu__lunch__item-price">$12</p>
        <p class="menu__lunch__item-description">
          Pie with carrots, peas and a mix of chicken, 250g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Chicken Thighs & Mushroom</p>
        <p class="menu__lunch__item-price">$15</p>
        <p class="menu__lunch__item-description">
          Thighs in a buttery sauce with a sprinkle of herbs, 320g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Three-Cheese Pasta</p>
        <p class="menu__lunch__item-price">$25</p>
        <p class="menu__lunch__item-description">
          Pasta filled with ricotta cheese & spinach, 220g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Frito Misto</p>
        <p class="menu__lunch__item-price">$14</p>
        <p class="menu__lunch__item-description">
          Served with Italian tartare sauce, 200g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Penne Carbonara</p>
        <p class="menu__lunch__item-price">$18</p>
        <p class="menu__lunch__item-description">
          Based on eggs, cheese bacon, and pepper, 250g.
        </p>
      </div>
      <div class="menu__lunch__item">
        <p class="menu__lunch__item-title">Tomato and Arugula Salad</p>
        <p class="menu__lunch__item-price">$17</p>
        <p class="menu__lunch__item-description">
          Simple balsamic pasta salad with fresh cherry tomatoes, arugula.
        </p>
      </div>
    </div>
  </article>
</section>
