<header class="menu__header">
  <div class="menu__header__working-hours-social-media" style="display: flex; justify-content: space-around; background-color: #ff5d28;">
    <p class="header__working-hours" style="white-space: pre;">WORKING HOURS:    MON-SUN 12 PM - 01 AM</p>
    <div class="menu__header__social-media-container" style="margin-top: auto; margin-bottom: auto;">
        <span class="menu__header__media-label" style="margin-right: 10px;">SOCIAL:</span>
        <a href="https://www.instagram.com/" class="menu__header__social-media-link" style="margin-right: 10px; color: #000;">INSTAGRAM</a>
        <a href="https://www.facebook.com/" class="menu__header__social-media-link" style="margin-right: 10px; color: #000;">FACEBOOK</a>
        <a href="https://www.youtube.com/" class="menu__header__social-media-link" style="margin-right: 10px; color: #000;">YOUTUBE</a>
        <a href="https://twitter.com/" class="menu__header__social-media-link" style="margin-right: 10px; color: #000;">TWITTER</a>
    </div>
  </div>
  <nav class="menu__header__nav" style="display: flex; justify-content: space-around;">
    <div class="menu__header__logo-image-container"><a href="index.html"><img src="images/restaurant-logo.svg" alt="restaurant-logo" style="height: 65px;"></a></div>
    <ul class="menu__header__menu" style="display: flex; list-style-type: none;">
      <li class="menu__header__menu-item"><a clas="header__menu-link" href="menu.html" style="text-decoration: none; color: #000; margin-right: 15px; font-size: 25px;">Menu</a></li>
      <li class="menu__header__menu-item"><a clas="header__menu-link" href="about.html" style="text-decoration: none; color: #000; margin-right: 15px; font-size: 25px;">About Us</a></li>
      <li class="menu__header__menu-item"><a clas="header__menu-link" href="#" style="text-decoration: none; color: #000; margin-right: 15px; font-size: 25px;">Offers & Discounts</a></li>
      <li class="menu__header__menu-item"><a clas="header__menu-link" href="#" style="text-decoration: none; color: #000; margin-right: 15px; font-size: 25px;">Space</a></li>
      <li class="menu__header__menu-item"><a clas="header__menu-link" href="contact.html" style="text-decoration: none; color: #000; margin-right: 15px; font-size: 25px;">Contacts</a></li>
    </ul>
  </nav>
  </div>
  <div class="menu__header__title" style="background-image: url(img/menu/menu-header-title-background-image.png); height: 300px; display: flex; flex-direction: column;  align-items: center;">
    <p class="menu__header__title-headline" style="font-size: 72px; color:#fff;">Menu</p>
    <p menu__header__title-path style="color:#fff; font-size: 22px;">Home > Menu</p>
  </div>
</header>