<header class="menu__header">
  <div class="menu__header__nav__social__container">
    <div class="menu__header__working-hours-social-media">
      <p class="header__working-hours">Working Hours:ㅤ Mon-Sun 12 pm - 01 am</p>
      <div class="menu__header__social-media-container">
          <span class="menu__header__media-label">SOCIAL:</span>
          <a href="https://www.instagram.com/" target="_blank" class="menu__header__social-media-link">INSTAGRAM</a>
          <a href="https://www.facebook.com/" target="_blank" class="menu__header__social-media-link">FACEBOOK</a>
          <a href="https://www.youtube.com/" target="_blank" class="menu__header__social-media-link">YOUTUBE</a>
          <a href="https://twitter.com/" target="_blank" class="menu__header__social-media-link">TWITTER</a>
      </div>
    </div>
    <nav class="menu__header__nav">
      <div class="menu__header__logo-burger-container">
        <div class="menu__header__logo-image-container"><a href="index.html">
          <img src="images/restaurant-logo.svg" alt="restaurant-logo" class="menu__header__logo-image"></a>
        </div>
        <div class="menu__header__burger-icon">
          <div class="menu__header__burger-icon-line"></div>
          <div class="menu__header__burger-icon-line"></div>
          <div class="menu__header__burger-icon-line"></div>
        </div>
      </div>
      <ul class="menu__header__menu-items">
        <li class="menu__header__menu-item"><a class="header__menu-item__link" href="menu.html">Menu</a></li>
        <li class="menu__header__menu-item"><a class="header__menu-item__link" href="about.html">About Us</a></li>
        <li class="menu__header__menu-item"><a class="header__menu-item__link" href="#">Offers & Discounts</a></li>
        <li class="menu__header__menu-item"><a class="header__menu-item__link" href="#">Space</a></li>
        <li class="menu__header__menu-item"><a class="header__menu-item__link" href="contact.html">Contacts</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu__header__title">
    <p class="menu__header__title-headline">Menu</p>
    <p class="menu__header__title-path"><span class="menu__header__title-path-home">Home > </span><u class="menu__header__title-path-menu">Menu</u></p>
  </div>
</header>