<h1>Snesar Myroslava</h1>
<footer>
    <section class="additional-information">
        <div class="additional-information-item">
            <img src="/img/footer/delivery.svg" alt="delivery" width="100">
            <h2 class="additional-information-header">Delivery</h2>
            <p class="additional-information-title">Order door-to-door food delivery service and enjoy your favorite food in the convenience of your home.</p>
        </div>
        <div class="additional-information-item">
            <img src="/img/footer/free-parking-lot.svg" alt="free-parking-lot" width="100">
            <h2 class="additional-information-header">Free Parking Lot</h2>
            <p class="additional-information-title">We are happy to offer free and safeguarded parking lot to both new and regular clients.</p>
        </div>
        <div class="additional-information-item">
            <img src="/img/footer/table-reservation.svg" alt="table-reservation" width="100">
            <h2 class="additional-information-header">Table Reservation</h2>
            <p class="additional-information-title">Our restaurant is quite popular, so we recommend you to call us in advance if you want to book a table.</p>
        </div>
    </section>
    <hr>
    <section class="main-information">
        <div class="main-information-">
            <img src="/img/footer/main-logo.svg" alt="main-logo">
            <p class="main-information-comment">El Gambino is a chain of three top-rated Italian restaurants, conveniently located in New York, Boston, and Chicago.</p>
            <a class="main-information-tabs" href="#">CHEF'S SPECIALS</a>
            <a class="main-information-tabs" href="#">LUNCH</a>
            <a class="main-information-tabs" href="#">DRINKS</a>
            <a class="main-information-tabs" href="#">RESERVE A TABLE</a>
            <div class="main-information-social">
                <a href="https://twitter.com/"><img src="/img/footer/twitter-icon.jpg" alt="twitter-icon"></a>
                <a href="https://youtube.com/"><img src="/img/footer/youtube-icon.jpg" alt="youtube-icon"></a>
                <a href="https://facebook.com/"><img src="/img/footer/facebook-icon.jpg" alt="facebook-icon"></a>
                <a href="https://instagram.com/"><img src="/img/footer/instagram-icon.jpg" alt="instagram-icon"></a>
            </div>
        </div>
        <div class="navigation">
            <h2 class="navigation-item">Navigation</h2>
            <hr class="navigation-item-line">
            <a class="navigation-item-section" href="#">Menu</a> <br>
            <a class="navigation-item-section" href="#">About us</a> <br>
            <a class="navigation-item-section" href="#">Offers & Discounts</a><br>
            <a class="navigation-item-section" href="#">Space</a>
        </div>
        <div class="navigation">
            <h3 class="navigation">Links</h3>
            <hr class="navigation-item-line">
            <a class="navigation-item-section" href="#">Gift cards</a> <br>
            <a class="navigation-item-section" href="#">Team</a> <br>
            <a class="navigation-item-section" href="#">Catering</a> <br>
            <a class="navigation-item-section" href="#">Contacts</a>
        </div>
        <div class="navigation">
            <h4 class="navigation">Contact Us</h4>
            <hr class="navigation-item-line">
            <address class="feedback">
                <img src="/img/footer/phone-icon.png" alt="phone icon">
                <p>+1 (234) 567 89 00</p>
                <img src="/img/footer/letter-icon.png" alt="letter-icon">
                <p>el.gambino@email.com</p>
                <img src="/img/footer/clock-icon.png" alt="clock-icon">
                <p>Working Hours: <br> Mon-Sun 12 pm - 01 am</p>
            </address>
        </div>
    </section>
   <hr>
   <section class="text-caption">
    <h2 class="text-caption-left-side">© Created by</h2>
    <h3 class="text-caption-right-side">All rights Reserved</h3>
   </section>
</footer>