<!-- <h1>Snesar Myroslava</h1> -->
<section class = "home-news">
    <h2 class="home-news-header2">- News -</h2>
    <h3 class="home-news-header3">Our News & Articles</h3>
    <hr>
    <p class="home-news-paragraph">Read more about Italian cuisine.</p>
</section>
<section class="news-categories">
    <div class="news-categories-text-on-image" style="background: url('/img/news/glasses.jpg'); width: 300px;">
        <!-- <img src="/img/news/glasses.jpg" alt="glasses"> -->
        <div> <br><br><br><br>
            <h2 class="news-categories-title">Wine Pairing: What Is It?</h2>
            <p class="news-categories-title-description">Wine pairing is the process of matching food and wines based on their flavor...</p>
            <a  class="news-categories-nav" href="#">READ MORE</a>
        </div>
       
    </div><br>
    <div class="news-categories-blocks" style = "width: 300px">
        <img src="/img/news/mussel.jpg" width=300 alt="mussel">
        <h2 class="news-categories-title">The Best Mediterranean Mussel Recipes by El Gambino</h2>
        <p class="news-categories-title-description">Mussels are popular because they are hearty, flavorful, and full of nutrients. Mussels are a great source of protein, vitamins and minerals.</p>
        <button class="form-button">Read More</button>
    </div>
    <div class="news-categories-blocks" style = "width: 300px">
        <img src="/img/news/juicy-steaks.jpg" width = 300 alt="juicy-steaks">
        <h2 class="news-categories-title">What Types of Meat Do We Use for Juicy Steaks?</h2>
        <p class="news-categories-title-description">The best types of meat for juicy steaks are ribeye, strip, tenderloin, and filet mignon. Ribeye steaks are known for their excellent marbling.</p>
        <button class="form-button">Read More</button>
    </div>
</section>