<div class="new-tastes">
    <div class="new-tastes__background">
        <style>
            .new-tastes__background {
                background-image: url('images/backround-new-tastes.svg');
            }
        </style>
        <p class="new-tastes__intro">- NEW PASTA -</p>
        <div class="subtitle">
            <div class="new-tastes__title">
                Italian Days in El Gambino
            </div>
            <img src="images/mini_logo.png" alt="mini_logo" class="new-tastes__image">
        </div>
        <div class="new-tastes__subtitle">
            <div class="subtitle__text">
                Your favorite Italian recipes now in our restaurants!
            </div>
            <div class="new-tastes__blocks">
                <div class="new-tastes__block">
                    <div class="decorator__wrapper">
                        <div class="picture__one">
                            <img src="images/new-tastes.jpeg" alt="PASTA" class="new-tastes__block-image">
                        </div>
                    </div>
                    <div class="new-tastes__dish">
                        <div class="new-tastes__dish-title">PASTA</div>
                        <div class="new-tastes__dish-name">Pasta "San Miguel"</div>
                        <div class="new-tastes__dish-ingredients"><span>320g</span> | Fettuccine, pine nuts, chicken, pesto sauce.</div>
                        <div class="new-tastes__dish-origin">Italian pasta with organic pesto and chicken according to our own recipe.</div>
                    </div>
                </div>
                <div class="new-tastes__block">
                    <div class="decorator__wrapper">
                        <div class="picture__two">
                            <img src="images/new-tastes2.jpeg" alt="PASTA2" class="new-tastes__block-image">
                        </div>
                    </div>
                    <div class="new-tastes__dish">
                        <div class="new-tastes__dish-title">PASTA</div> 
                        <div class="new-tastes__dish-name">Pasta "Pomodoro"</div>
                        <div class="new-tastes__dish-ingredients"><span>370g</span> | Spaghetti, cherry tomatoes, basil, parmesan cheese.</div>
                        <div class="new-tastes__dish-origin">Spring pasta with vegetables from our chef. Suitable for vegetarians and vegans.</div>
                    </div>
                </div>
                <div class="new-tastes__block">
                    <div class="decorator__wrapper__or">
                        <div class="picture__three">
                            <img src="images/new-tastes3.jpeg" alt="SALADS" class="new-tastes__block-image">
                        </div>   
                    </div>
                    <div class="new-tastes__dish">
                        <div class="new-tastes__dish-title">SALADS</div>
                        <div class="new-tastes__dish-name">Salad "Monguel"</div>
                        <div class="new-tastes__dish-ingredients"><span>220g</span> | Grilled tomatoes, spinach, basil, olive oil, soy sauce.</div>
                        <div class="new-tastes__dish-origin">Refreshing salad of three types of tomatoes with herbs and soy sauce.</div>
                    </div>
                </div>
                <div class="new-tastes__block">
                    <div class="decorator__wrapper__or">
                        <div class="picture__four">
                            <img src="images/new-tastes4.jpeg" alt="MAIN COURSES" class="new-tastes__block-image">
                        </div>
                    </div>
                    <div class="new-tastes__dish">
                        <div class="new-tastes__dish-title">MAIN COURSES</div>
                        <div class="new-tastes__dish-name">Veal Steak</div>
                        <div class="new-tastes__dish-ingredients"><span>320g</span> | Veal Steak, baked potatoes, red wine sauce.</div>
                        <div class="new-tastes__dish-origin">Juicy veal steak with baked potatoes, paprika, and herbs. The red wine sauce is great!</div>
                    </div>
                </div>
            </div>
            <div class="new-tastes__footer">Make the First Step to Your <span>Culinary Journey</span> Right Now!
                <p class="new-tastes__ph_number">Call us now<span> +1 (234) 567 89 00</span></p>
            </div>
        </div>
    </div>