<!-- <h1>Khobotin Evhen </h1> -->
<section class="news-card">  
    <div class="news-card-title">
        <p class="news-card-title-little" style="color: coral; font-size: 15px;">- NEWS -</p>
        <h1 class="news-card-title-big" style="font-size: 50px;">Our News & Articles</h1>
        <img class="news-card-title-decor" src="img/offers/decor.svg" alt="decor">
        <p class="news-card-title-medium" style="font-size: 40px;">Read more about Italian cuisine.</p>
    </div>
    <div class="news-card-table">
        <img width=270 height=537 src="img/news-card/wine.jpg" alt="wine">
        <p>Wine Pairing: What Is It?</p>
        <pre>Wine pairing is the process of matching
food and wines based on their flavor...</pre>
        <a href="#">READ MORE</a> <br>
        <img width=316 height=212 src="img/news-card/mussels.jpg" alt="mussels">
        <p>The Best Mediterranean Mussel Recipes by El Gambino</p>
        <pre>Mussels are popular because they are hearty,
flavorful, and full of nutrients. Mussels are a
great source of protein, vitamins and minerals.</pre>
        <a href="#">READ MORE</a> <br>
        <img width=316 height=212 src="img/news-card/peppers.jpg" alt="peppers">
        <p>What Types of Meat Do We Use for Juicy Steaks?</p>
        <pre>he best types of meat for juicy steaks are
ribeye, strip, tenderloin, and filet mignon. Ribeye
teaks are known for their excellent marbling. </pre>
        <a href="#">READ MORE</a> <br>
    </div>
</section>