<header>
   <div>
        <div>
            <div>
                <p>WORKING HOURS:ㅤ MON-SUN 12 PM - 01 AM</p>
            </div>
            <div>
                <span>SOCIAL:</span>
                <span><a href="#">INSTAGRAM</a></span>
                <span><a href="#">FACEBOOK</a></span>
                <span><a href="#">YOUTUBE</a></span>
                <span><a href="#">TWITTER</a></span>
            </div>
        </div>
        <nav>
            <div>
                <img src="img/restaurant-logo.svg" alt="Restaurant Logo">
            </div>
            <div>
                <ul>
                    <li>
                        <a href="#">Menu</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Offers & Discounts</a>
                    </li>
                    <li>
                        <a href="#">Space</a>
                    </li>
                    <li>
                        <a href="#">Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
   <div>
        <p>- WELCOME TO OUR RESTAURANTS -</p>
        <h1>Gourmet Cuisine From Fresh Local Ingredients</h1>
        <p>Enjoy your favorite dishes in our restaurants!</p>
        <div>
            <a href="#">Book a Table</a>
            <a href="#">+1 (234) 567 89 00</a>
        </div>
   </div>
</header>