<!-- <h1>Ihor Yakibchuk </h1> -->
<div class="benefits">
    <div class="delivery">
        <img src="images/benefits.svg" alt="benefits1">
        <h2 class="title">
            Delivery
        </h2>
        <p class="text">
            Order door-to-door food delivery service and enjoy your favorite food in the convenience of your home.
        </p>
    </div>
    <div class="parking">
        <img src="images/benefits2.svg" alt="benefits2">
        <h2 class="title">
            Free Parking Lot
        </h2>
        <p class="text">
            We are happy to offer free and safeguarded parking lot to both new and regular clients.
        </p>
    </div>
    <div class="reservation">
        <img src="images/benefits3.svg" alt="benefits3">
        <h2 class="title">
            Table Reservation
        </h2>
        <p class="text">
            Our restaurant is quite popular, so we recommend you to call us in advance if you want to book a table.
        </p>
    </div>
</div>