<h1>Yaroslav Spivak</h1>
<section class="our-story">
    <div class="our-story__milestone">
        <p class="our-story__title">- OUR STORY -</p>
        <h2 class="our-story__subtitle">Learn More About Our History</h2>
        <div class="our-story__divider">
            <span class="our-story__divider-inner" aria-hidden="true"></span>
        </div>
        <p class="our-story__description"><span>For more than 40 years we have been delighting our guests with delicious dishes.</span></p>
    </div>
    <div class="our-story__milestone">
        <h2 class="our-story__year">1978</h2>
        <div class="our-story__divider">
            <span class="our-story__divider-inner" aria-hidden="true"></span>
        </div>
        <p class="our-story__description"><span>Our founder, Peter Manujo, opened his first restaurant, Muelo, in downtown New York.</span></p>
    </div>
    <div class="our-story__milestone">
        <h2 class="our-story__year">1997</h2>
        <div class="our-story__divider">
            <span class="our-story__divider-inner" aria-hidden="true"></span>
        </div>
        <p class="our-story__description"><span>The Muelo restaurant was renamed into El Gambino and focused on Italian and Spanish cuisine.</span></p>
    </div>
    <div class="our-story__milestone">
        <h2 class="our-story__year">2005</h2>
        <div class="our-story__divider">
            <span class="our-story__divider-inner" aria-hidden="true"></span>
        </div>
        <p class="our-story__description"><span>We expanded our chain and opened two more El Gambino restaurants, in Boston and Chicago.</span></p>
    </div>
    <div class="our-story__milestone">
        <h2 class="our-story__year">2020</h2>
        <div class="our-story__divider">
            <span class="our-story__divider-inner" aria-hidden="true"></span>
        </div>
        <p class="our-story__description"><span>TimeToGo named our chain "one of the best Italian restaurant chains in the United States".</span></p>
    </div>
</section>
